.welcomeContainer {
  display: flex;
  padding: 6rem 0;
  flex-direction: column;
}

.image {
  width: 124px;
  height: 124px;
  object-fit: cover;
  border-radius: 8px;
  background-color: var(--foregroundDarker);
}

.welcomeContainer > div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.welcomeContainer h1,
.welcomeContainer p {
  font-size: 1.25rem;
  line-height: 34px;
}

.welcomeContainer p a {
  font-weight: 600;
}

.welcomeContainer p a:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .welcomeContainer {
    flex-direction: row;
    align-items: center;
    padding: 10rem 0;
  }

  .welcomeContainer > div {
    padding: 1.25rem;
    margin: 0;
  }
}
